<launch>

	<machine name="local" address="192.168.0.100" default="false" user="uscauv" env-loader="~/auv_ws/devel/setup.bash"/>

	<machine name="jetson" address="192.168.0.50" default="true" user="nvidia" password="nvidia" env-loader="/home/nvidia/auv_ws/src/launch-configs/env-loader.sh"/>

	<node machine="jetson" pkg="ros_esccontrol" name="ros_esccontrol" type="esccontroller"/>

	<node machine="jetson" pkg="ros_ngimu" name="ros_ngimu" type="ros_ngimu"/>

	<!-- Start rosbag to record sensor values -->
	<node pkg="rosbag" type="record" name="rosbag_record_sensors"
		  args="record -o ~/auv_ws/sensordata.bag /ngimu/euler /ngimu/quaternion /ngimu/earthAccel /rosout"/>

</launch>